name: flutterapp
description: A new Flutter application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 1.0.0+2

environment:
  sdk: ">=2.3.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  http: ^0.12.0

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
    - lib/image/icon_splash.jpg
    - lib/image/icon_location_address.png
    - lib/image/icon_video.png
    - lib/image/icon_audio3.png
    - lib/image/dis_left_quote.png
    - lib/image/dis_right_quote.png
    - lib/image/icon_supper_defoult_bg.webp
    - lib/image/supplier_level/ins_level_1.png
    - lib/image/supplier_level/ins_level_2.png
    - lib/image/supplier_level/ins_level_3.png
    - lib/image/supplier_level/ins_level_4.png
    - lib/image/supplier_level/ins_level_5.png
    - lib/image/supplier_level/ins_level_6.png
    - lib/image/supplier_level/ins_level_7.png
    - lib/image/supplier_level/ins_level_8.png
    - lib/image/supplier_level/ins_level_9.png
    - lib/image/supplier_level/ins_level_10.png
    - lib/image/supplier_level/ins_level_11.png
    - lib/image/supplier_level/ins_level_12.png
    - lib/image/high_quality.png
    - lib/image/icon_pai_blue.png
    - lib/image/icon_arrow.png
    - lib/file/file.txt
    - lib/file/fileerror.txt

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
